/*
  Master Stylesheet
  This file is only for importing all required stylesheets for LESS to include and then compile.
*/

// CSS Reset
@import "reset.less";

// Core
@import "bootstrap.less";
@import "scaffolding.less";

// Styled patterns and elements
@import "type.less";


/* Project specific
---------------------------------------------------------------------------------------------------- */

// Few new colors
@red:         #c0332e;
@red:         #D70D18;
@blue:        #2291D7;
@linkColor:   @blue;

// New site width
@siteWidth:   1000px;

// New baseline
@baseline:   25px;

// New mixin for Google Fonts
.pt-sans(@weight: normal, @size: 14px, @lineheight: 20px) {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: @size;
  font-weight: @weight;
  line-height: @lineheight;
}
.open-sans(@weight: normal, @size: 14px, @lineheight: 20px) {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: @size;
  font-weight: @weight;
  line-height: @lineheight;
}

// Misc mixins
.fixed-top(@height: 40px) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: @height;
}

// Setup the fonts
body, p, li {
  .open-sans(300,16px,25px);
//  .font(normal,16px,24px);
}
h1, h2, h3, h4, h5, h6 {
  a, a:hover {
    color: @grayDark;
    text-decoration: none;
  }
}
h1 {
  margin-bottom: 60px;
  font-size: 100px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -5px;
}
p small {
  color: @grayLighter;
}

// Depth on body
html, body {
  background-color: #f5f5f5;
}
body {
  #gradient > .vertical-three-colors(#ddd,#f5f5f5,0.25,#f5f5f5);
  background-attachment: fixed;
  padding: 60px 0 40px;
}

// Fixed masthead
header {
  #gradient > .vertical(#333, #222);
  background-color: @grayDark;
  .fixed-top(40px);
  .box-shadow(0 1px 3px rgba(0,0,0,.1));
  a {
    display: inline;
    float: left;
    color: @white;
    line-height: 40px;
    &:hover {
      background-color: rgba(255,255,255,.05);
      color: #fff;
      text-decoration: none;
      text-shadow: 0 0 5px rgba(255,255,255,.75);
    }
  }
  h3 {
    font-size: 14px;
    a {
      padding: 0 20px;
    }
  }
  p {
    margin-bottom: 0;
  }
  ul {
    float: left;
    margin: 0;
    li {
      display: inline;
      font-size: 14px;
      a {
        padding: 0 10px;
      }
    }
  }
  div.follow-button {
    float: left;
    margin: 9px 0 0 10px;
  }
}

// Blank canvas
div.canvas {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  width: 880px;
  margin: 0 auto;
  padding: 60px;
  padding-bottom: 120px; // account for pagination
  .border-radius(4px);
  .box-shadow(0 1px 3px rgba(0,0,0,.1));
}

// Footer
footer {
  p {
    color: @grayLighter;
    font-size: 14px;
    text-align: center;
  }
}

// Columnized content
div.columnize {
  margin-bottom: 40px;
}
div.col2 { .content-columns(2); }
div.col3 { .content-columns(3); }
div.col4 { .content-columns(4); }
div.col5 { .content-columns(5); }

// Pagination
ul.pagination {
  width: @siteWidth - 120px;
  margin: -100px auto 60px;
  padding-top: 29px;
  height: 25px;
  border-top: 1px solid #eee;
  position: relative;
  z-indx: 5;
  li {
    display: inline;
    a {
      float: left;
      line-height: 25px;
      color: @blue;
      span {
        display: inline-block;
        background: @blue;
        color: #fff;
        width: 25px;
        height: 25px;
        line-height: 1;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        .border-radius(13px);
        float: left;
        margin: 0 5px 0 0;
      }
      &:hover {
        text-decoration: none;
        color: darken(@blue, 10);
        span {
          background: darken(@blue, 10);
        }
      }
    }
    &.newer,
    &.newer span {
      float: right;
    }
    &.newer span {
      margin: 0 0 0 5px;
    }
  }
}
