// Clearize w/ adapted CSS Reset by Eric Meyer
html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }


// Bootstrap it!
@import "bootstrap.less";


// Nice bod(y)
html, body {
  background-color: @white;
}
body {
  padding-bottom: 60px;
  color: @gray;
  text-rendering: optimizeLegibility;
}
body, p, li {
  .sans-serif(normal,13px,18px);
}


// Bangin' links
@link-color: @gray-dark;
// Bangin' links
a, a:visited {
  font-weight: bold;
  color: @link-color;
  text-decoration: none;
  .transition(all linear .2s);
  &:hover {
    color: @link-color;
    text-decoration: underline;
  }
}


// Forms
form.common-form {
  // Parent element that clears floats and wraps labels and fields
  div.clearfix {
    margin-bottom: 15px;
  }
  // Typography for forms
  label, input, select, textarea {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  // Float labels left
  label {
    padding-top: 5px;
    font-size: 13px;
    line-height: 18px;
    float: left;
    width: 160px;
    text-align: right;
  }
  // Shift over the inside div to align all label's relevant content
  div.input {
    margin-left: 180px;
  }
  // Checkboxs and radio buttons
  input[type=checkbox],
  input[type=radio] {
    cursor: pointer;
  }
  // Inputs, Textareas, Selects
  input[type=text],
  input[type=password],
  textarea,
  select {
    width: 330px;
    margin: 0;
    padding: 4px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    border: 1px solid #bbb;
    .border-radius(4px);
    &.large {
      width: 600px;
    }
  }
  input[type=text], 
  input[type=password], 
  select, textarea {
    @transition: border linear .2s, box-shadow linear .2s;
    .transition(@transition);
  }
  input[type=text]:focus, 
  input[type=password]:focus, 
  textarea:focus {
    outline: none;
    border-color: rgba(82,168,236,.75);
    .box-shadow(0 0 8px rgba(82,168,236,.5));
  }
  select {
    height: 28px;
    line-height: 28px;
  }
  // Actions (the buttons) end of forms
  div.actions {
    margin: 15px 0 0;
    padding-left: 180px;
  }
}
// Buttons
a.button,
button.button {
  @padding: 6px 15px;
  .button();
}


// Typography
h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}
h1 {
  margin-top: -8px;
  margin-bottom: 10px;
  font-size: 40px;
}
h2 {
  margin-bottom: 10px;
  font-size: 30px;
  small {
    font-size: 13px;
    color: @gray-light;
  }
}
h3 {
  margin-bottom: 10px;
  font-size: 25px;
}
h4 {
  font-size: 16px;
  margin-bottom: 9px;
  small {
    font-size: 12px;
    color: #666;
  }
}
p {
  margin-bottom: 20px;
}
ol, ul {
  margin-left: 30px;
  margin-bottom: 20px;
}
ol {
  list-style: decimal;
}
ul {
  list-style: disc;
  li a {
    font-weight: normal;
  }
}
hr {
  margin: 19px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}


// Scaffolding
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  margin: 45px 0 0 40px;
  h3 {
    margin-bottom: 25px;
    a {
      font-weight: 200;
      strong {
        font-weight: bold;
      }
    }
  }
  h4 {
    color: @gray-light;
  }
  ul {
    margin: 0 0 15px;
    list-style: none;
    li {
      line-height: 20px;
    }
    // Main nav styles
    &.menu li {
      a:hover:after,
      &.current-menu-item a:after {
        content: "\00a0 \2192";
      }
      &.current-menu-item a {
        color: lighten(@gray-light, 25);
      }
    }
    // Stylesheet switcher
    &.stylesheets {
      
    }
    // Social nav
    &.social {
      li {
        display: inline;
        a {
          background-color: #eee;
          background-position: center center;
          background-repeat: no-repeat;
          float: left;
          display: inline;
          width: 30px;
          height: 30px;
          margin-right: 5px;
          text-indent: -999em;
          .border-radius(3px);
          &:hover {
            background-color: #ccc;
          }
        }
        &.flickr a {
          background-image: url(../img/icon-flickr.png);
        }
        &.twitter a {
          background-image: url(../img/icon-twitter.png);
        }
      }
    }
  }
}
.content {
  margin: 40px 220px 0 240px;
  max-width: 1024px;
  min-width: 760px;
}
.footer {
  margin: 40px 0 30px;
  border-top: 1px solid #eee;
  padding-top: 39px;
  p {
    text-align: center;
    margin-bottom: 0;
    font-size: 13px;
    span {
      opacity: .5;
    }
  }
}

// Stylesheet switcher
ul#stylesheets {
/*
  position: absolute;
  top: 0;
  right: 0;
  li {
    display: inline;
    a {
      background: #222;
      border: 1px solid #fff;
      float: left;
      display: inline;
      width: 20px;
      height: 20px;
      margin-left: 5px;
      overflow: hidden;
      text-indent: -999em;
      .border-radius(3px);
      &#lightStyles {
        background: #eee;
      }
    }
  }
*/
}


// Misc Post Content
.page {
  max-width: 600px;
  .edit-link {
    float: right;
  }
}


// Pagination
ul.pagination {
  margin: 0;
  width: 100%;
  height: 30px;
  list-style: none;
  li {
    display: inline;
    a {
      float: left;
      display: inline;
      font-weight: bold;
    }
    &.newer a {
      float: right;
    }
  }
}


// Photos
div.photo {
  padding-bottom: 29px;
  margin-bottom: 50px;
  border-bottom: 1px solid #eee;
  a {
    img {
      width: 100%;
      height: auto;
      margin: 0 0 10px;
    }
  }
  ul.meta {
    margin: 8px 0 0;
    float: right;
    li {
      display: inline;
      a {
        background-repeat: no-repeat;
        background-position: -1px -1px;
        display: inline;
        float: left;
        margin-left: 20px;
        height: 30px;
        padding-left: 30px;
        line-height: 30px;
      }
      &.comment a {
        background-image: url(../img/comments.png);
      }
      &.tweet a {
        background-image: url(../img/larry.png);
      }
    }
  }
}

// Customize forms a bit
/*
form.common-form {
  // Inputs, Textareas, Selects
  input[type=text],
  input[type=password],
  textarea {
    background-color: #333;
    background-color: rgba(255,255,255,.075);
    padding: 4px;
    color: #555;
    border: 1px solid #222;
    border: 1px solid rgba(0,0,0,.5);
    .border-radius(4px);
    @shadow: 0 1px 0 rgba(255,255,255,.1), inset 0 1px 3px rgba(0,0,0,.25);
    .box-shadow(@shadow);
    .transition(none);
    .transition(background linear .2s);
    &:focus {
      background: #fff;
      color: #333;
      outline: none;
      padding: 5px;
      border: 0;
      .box-shadow(0 0 10px rgba(255,255,255,.4));
    }
  }
}
*/


// Search

// Search Page
div.no-results {
  #search {
    background: #f5f5f5;
    margin-top: 30px;
    padding: 40px;
    // .border-radius(4px);
    input {
      width: 90%;
    }
  }
}
// Search Form
#search {
  margin-bottom: 30px;
  input {
    display: block;
    width: 300px;
    margin: 0 auto;
    padding: 5px 14px;
    .sans-serif(normal,14px,1);
    .border-radius(14px);
  }
}


// Comment form
div#comments {
  h3 {
    margin-left: 180px;
    margin-bottom: 30px;
  }
  ol {
    margin: 0;
    list-style: none;
    li {
      margin-bottom: 30px;
      .author {
        float: left;
        width: 160px;
        text-align: right;
      }
      .content {
        margin-left: 180px;
        margin-right: 180px;
        .awaiting-moderation {
          background: rgba(255,255,255,.03);
          padding: 5px 10px;
          .border-radius(4px);
          font-size: 12px;
          font-style: italic;
          position: relative;
          top: -4px;
          margin-bottom: 10px;
        }
        small a {
          font-weight: normal;
          font-size: 12px;
          color: #999;
        }
      }
    }
  }
}

// Holy Awesome Scrollbars, Batman! (via @maxvoltar... <3)
html {
  overflow: auto;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 20px;
  bottom: 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 6px;
}
::-webkit-scrollbar-button:end:increment {
  height: 0;
}
::-webkit-scrollbar-button:vertical:increment {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 20px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #ccc;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,1);
}
::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #ccc;
  -webkit-border-radius: 4px;
}
// Undo it for iPads
@media only screen and (max-device-width:1024px) {
  body {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    overflow: auto;
  }
}
// Undo for FF
body.ff,
body.ie {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  overflow: auto;
}
