/* Change up base styles */
body, html {
  background: #333;
  color: #999;
}
a,
a:visited,
a:hover {
  color: #fff;
}

/* Change up borders and backgrounds */
hr {
  border-top-color: #222;
  border-bottom-color: #444;
}
div.header ul li a:hover {
  color: #fff;
}
div.header ul.social li a {
  background-color: #444;
}
div.header ul.social li a:hover {
  background-color: #222;
}
div.photo {
  border-bottom-color: #444;
}
div.footer {
  border-top-color: #444;
}
form input[type=text],
form input[type=password]
form textarea {
  border: none;
}

/* Change up scrollbars */
::-webkit-scrollbar-track-piece {
  background-color: rgba(0,0,0,.1);
}
::-webkit-scrollbar-thumb:vertical {
  background-color: #444;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
::-webkit-scrollbar-thumb:horizontal {
  background-color: #444;
}
